<div class="page-header">
	<h2>Editar foto</h21>
</div>
<%= comfy_gallery_form_for @photo, :url => { :action => :update }, :html => { :multipart => true } do |form| %>
  <%= render :partial => form %>
<% end %>